body{
  margin: 0%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  

}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
   
}
.nav-option{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.logo{
    max-width: 32%;
    
}
.links{
    display: flex;
    
}
.links li{

    list-style: none;


}
.links li a{
    margin: 15px;
    text-decoration: none;
    padding: 8px 20px;
    color: white;
    font-size: 14px;
}
.lag-opt{
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.783);
}


.login{
    border-radius: 4px;
    background-color: rgb(246, 32, 32);
}
.hero{
    display: flex;
    height: 750px;
    align-items: center;
    justify-content: center;
    position: relative;

}
.background-img{
    width: 100%;
    height: 750px;
    filter: brightness(40%);
   
}
.main{
    text-align: center; 
    position: absolute; 
     
}
.disc{
    color: white;

}
.disc h1{
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 0%;
}
.disc h3{
    font-size: 28px;
    font-weight: 400;
}
.disc p{
    font-size: 20px;
}
.details input{
    padding: 20px 30px ;
    font-size: 25px;
   margin: 0; 
   border: none;
   width: 450px;
   outline: none;

}
.details button{
    background-color: rgb(235, 26, 26);
    padding: 20px 30px;
    color: white;
    font-size: 28px;
    border: none;
    margin: 0;
}


.center{
    border-bottom: 8px solid rgb(51, 47, 47);
    border-top:8px solid rgb(50, 46, 46) ;  


    height: 450px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-heading{
    color: rgb(255, 255, 255);
    
}
.card-heading h1{
    font-size: 50px;
    margin-bottom: 0%;
    font-weight: 600;
}
.card-heading h2{
    font-size: 28px;
    font-weight: 400;
}
.card-img{
    max-width: 20%;
   margin-left: 100px;
}
.not{
    border-top: none;
}
.card-img2{
    max-width: 28%;
    margin-right:100px ;
}