body{
  margin: 0%;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  

}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    /* border: 1px solid black; */
   
}

.links{
    display: flex;
    
}
.links li{

    list-style: none;


}
.links li a{
    margin: 15px;
    text-decoration: none;
    padding: 8px 20px;
    color: white;
    font-size: 14px;
}
.lag-opt{
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.783);
}


.login{
    border-radius: 4px;
    background-color: rgb(246, 32, 32);
}
.hero{
    display: flex;
    height: 750px;
    align-items: center;
    justify-content: center;
    position: relative;
   

}
.background-img{
    width: 100%;
    
    height: 750px;
    filter: brightness(40%);
   
}
.main{
    text-align: center; 
    position: absolute; 
     
}
.disc{
    color: white;

}
.disc h1{
    font-size: 62px;
    font-weight: 600;
    margin-bottom: 0%;
}
.disc h3{
    font-size: 28px;
    font-weight: 400;
}
.disc p{
    font-size: 20px;
}
.details input{
    padding: 20px 30px ;
    font-size: 25px;
   margin: 0; 
   border: none;
   width: 450px;
   outline: none;

}
.details button{
    background-color: rgb(235, 26, 26);
    padding: 20px 30px;
    color: white;
    font-size: 28px;
    border: none;
    margin: 0;
}



.card-heading{
    color: rgb(255, 255, 255);
 

}

@media screen and (max-width:400px) {
    .logo{
        max-width: 100px;
        
    }
    .disc h1{
        font-size: 32px;
        /* font-weight: 600; */
        /* margin-bottom: 0%; */
        /* letter-spacing: 1px; */

    }
    .details input{
        padding: 15px 20px ;
        font-size: 16px;
        width: 300px;
        margin-bottom: 15px;
        
       /* border: none; */
       /* outline: none; */
    
    }
    .details button{
        background-color: rgb(253, 6, 6);
        padding: 13px 25px;
        font-size: 16px;
        /* color: white; */
        /* border: none; */
        /* margin: 0; */
    }
    .disc h3{
        font-size: 16px;
        letter-spacing: 1px;
        /* font-weight: 400; */
    }
    .disc p{
        font-size: 16px;
        width: 330px;
        margin:0  auto ;
        margin-bottom: 20px;
        /* letter-spacing: 1px; */
        
    }
    .nav-option{
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-top: 20px; 
        margin-right: 18px;
        margin-left: 18px;
        /* justify-content: space-between; */
    }
    .links li a{
        margin: 5px;
        text-decoration: none;
        padding: 5px 15px;
        color: white;
        font-size: 12px;
    }
    .hero{
        display: flex;
        height: 490px;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 8px solid  rgb(39, 39, 39);

    
    }
    .background-img{
        width: 100%;
        height: 490px;
        box-shadow: inset 100px 100px 250px black ;
       
       
    }
    .center{
        border-bottom: 8px solid rgb(39, 39, 39);
        text-align: center;
        height: 480px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .card-heading h1{
        font-size: 30px;
        /* margin-bottom: 0%; */
        font-weight: 600;
    }
    .card-heading h2{
        font-size: 18px;
        font-weight: 400;
    }
    .card-img{
        max-width: 70%;
       /* margin-left: 100px; */
    }
    .not{
        border-top: none;
    }
    .card-img2{
        max-width: 70%;
        /* margin-right:100px ; */
    }
}
 


@media screen and (min-width:400px) and (max-width:500px) {
    .logo{
        max-width: 145px;
        
    }
    .disc h1{
        font-size: 34px;
        /* font-weight: 600; */
        /* margin-bottom: 0%; */
        letter-spacing: 1px;

    }
    .details input{
        padding: 15px 20px ;
        font-size: 18px;
        width: 350px;
        margin-bottom: 20px;
        
       /* border: none; */
       /* outline: none; */
    
    }
    .details button{
        background-color: rgb(253, 6, 6);
        padding: 13px 30px;
        font-size: 18px;
        /* color: white; */
        /* border: none; */
        /* margin: 0; */
    }
    .disc h3{
        font-size: 18px;
        letter-spacing: 1px;
        /* font-weight: 400; */
    }
    .disc p{
        font-size: 18px;
        width: 330px;
        margin:0  auto ;
        margin-bottom: 20px;
        letter-spacing: 1px;
        
    }
    .nav-option{
        align-items: center;
        display: flex;
        justify-content: space-around;
        margin-top: 20px; 
        margin-right: 18px;
        margin-left: 18px;
        /* justify-content: space-between; */
    }
    .links li a{
        margin: 5px;
        text-decoration: none;
        padding: 8px 20px;
        color: white;
        font-size: 12px;
    }
    .hero{
        display: flex;
        height: 600px;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 8px solid  rgb(39, 39, 39);

    
    }
    .background-img{
        width: 100%;
        height: 600px;
        filter: brightness(40%);
       
       
    }
    .center{
        border-bottom: 8px solid rgb(39, 39, 39);
        text-align: center;
        height: 480px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .card-heading h1{
        font-size: 30px;
        /* margin-bottom: 0%; */
        font-weight: 600;
    }
    .card-heading h2{
        font-size: 18px;
        font-weight: 400;
    }
    .card-img{
        max-width: 70%;
       /* margin-left: 100px; */
    }
    .not{
        border-top: none;
    }
    .card-img2{
        max-width: 70%;
        /* margin-right:100px ; */
    }
}
 
@media screen and (min-width:500px) and (max-width:700px) {


   .logo{
        max-width: 200px;
        
    }
    .disc h1{
        font-size: 34px;
        /* font-weight: 600; */
        /* margin-bottom: 0%; */
        letter-spacing: 1px;
    }
    .details input{
        padding: 15px 20px ;
        font-size: 18px;
        width: 350px;
        margin-bottom: 20px;
        
       /* border: none; */
       /* outline: none; */
    
    }
    .details button{
        background-color: rgb(253, 6, 6);
        padding: 13px 30px;
        font-size: 18px;
        /* color: white; */
        /* border: none; */
        /* margin: 0; */
    }
    .disc h3{
        font-size: 18px;
        letter-spacing: 1px;
        /* font-weight: 400; */
    }
    .disc p{
        font-size: 18px;
        width: 330px;
        margin:0  auto ;
        margin-bottom: 20px;
        letter-spacing: 1px;
        
    }
    .nav-option{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 20px; 
        margin-right: 30px;
        margin-left: 30px;
        /* justify-content: space-between; */
    }
    .links li a{
        margin: 5px;
        text-decoration: none;
        padding: 8px 20px;
        color: white;
        font-size: 12px;
    }
    .hero{
        display: flex;
        height: 600px;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 8px solid  rgb(39, 39, 39);

    
    }
    .background-img{
        width: 100%;
        height: 600px;
        filter: brightness(40%);
       
       
    }
    .center{
        border-bottom: 8px solid rgb(39, 39, 39);
        text-align: center;
        height: 480px;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        
    }
    .card-heading h1{
        font-size: 30px;
        /* margin-bottom: 0%; */
        font-weight: 600;
    }
    .card-heading h2{
        font-size: 18px;
        font-weight: 400;
    }
    .card-img{
        max-width: 70%;
       /* margin-left: 100px; */
    }
    .not{
        border-top: none;
    }
    .card-img2{
        max-width: 70%;
        /* margin-right:100px ; */
    }
}



@media screen and (min-width:700px ) {
    .logo{
        max-width: 200px;
        
    }
    .nav-option{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .center{
        border-bottom: 8px solid  rgb(39, 39, 39);
        border-top:8px solid rgb(50, 46, 46) ;  
    
    
        height: 450px;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card-heading h1{
        font-size: 50px;
        margin-bottom: 0%;
        font-weight: 600;
    }
    .card-heading h2{
        font-size: 28px;
        font-weight: 400;
    }
    .card-img{
        max-width: 20%;
       margin-left: 100px;
    }
    .not{
        border-top: none;
    }
    .card-img2{
        max-width: 28%;
        margin-right:100px ;
    }
    
        
        
    
}



